body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background-image: url('https://vipnunes.com/curriculum/pin.jpg');
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}
